# File Types
*~
*.eld

# Folders
**/auto-save-list
**/elpa
**/url
**/transient
**/.cache

# Files
history
forge-database.sqlite
.lsp-session*
session.*

# babled files
init.el
mf-gui.el
mf-keys.el
mf-org.el
mf-templates.el
mf-sh.el
