# File Types
*~
*.eld
*bak

# Folders
**/auto-save-list
**/elpa
**/url
**/transient
**/.cache
**/emojis

# Files
history
forge-database.sqlite
.lsp-session*
session.*
recentf
bookmarks
org-roam.db
.org-id-locations

# babled files
init.el
mf-gui.el
mf-keys.el
mf-org.el
mf-templates.el
mf-sh.el
mf-custom.el
*.sql
